.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    background: #e29a70;
    margin-bottom: 150px;
    background-image: linear-gradient(120deg, #e29a70, #e1ffea22 60%);
}

.offers-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 18px;
    font-weight: 100;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font: weight 600px;
}

.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #976b99 ;
    border: none;
    color:white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;
}

.offers-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}