.hero{
    height: 100vh;
    background-image: linear-gradient(180deg, #e4986c, #e1ffea22 60%);
    display: flex;
}

.hero-left h2{
   color:#090909;
   font-size: 26px;
   font-weight: 600px;
}

.hero-left p{
   color: #171717;
   font-size: 100px;
   font-weight: 700px;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    border-radius: 75px;
    font-size: 22px;
    font-weight: 500px;
    gap:15px;
    width: 310px;
    height:70px;
    margin-top:30px;
    background-color: #ff4141;
    color: white;

}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}